# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist
/src/src/config/apps_original.mjs

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
